MONGO_USER=thanhtu_user
MONGO_PASSWORD=Thanhtu%40204
MONGO_CLUSTER=cluster0.h3nsaiz.mongodb.net
JWT_SECRET=your_jwt_secret_key_change_this_in_production
JWT_EXPIRE=7d

OPENALEX_API_URL=https://api.openalex.org
OPENALEX_MAILTO=youremail@gmail.com
EXTERNAL_API_TIMEOUT_MS=45000

SEMANTIC_SCHOLAR_API_URL=https://api.semanticscholar.org/graph/v1
SEMANTIC_SCHOLAR_API_KEY=s2k-54yzdXb2GKBKlQOyDgpqNjtBZfuk0Fr35pe2UTSG

CROSSREF_API_URL=https://api.crossref.org
CROSSREF_MAILTO=youremail@gmail.com

IEEE_API_KEY=p5fm3mz2um3k6hdftmxcnp67
EXA_API_KEY=f2ce9b40-a239-4504-9b13-360a03133e28

AI_SERVICE_URL=http://localhost:8000

CLOUDINARY_CLOUD_NAME=scientific-journal
CLOUDINARY_API_KEY=597454958436931
CLOUDINARY_API_SECRET=pgxYvljHD4BsP4uQaECZz9M7G2g

CORS_ORIGIN=http://localhost:5173

REDIS_URL=redis://default:mật_khẩu_của_họ@địa_chỉ_ip_của_họ:6379
GOOGLE_CLIENT_ID=673014775519-rju4plaf4dc5bjqc7h7dprhtjv61i5h0.apps.googleusercontent.com

MONGODB_URI=mongodb+srv://thanhtu_user:Thanhtu%40204@cluster0.h3nsaiz.mongodb.net/interaction_db?appName=Cluster0

PORT=5003

INTERNAL_API_SECRET=your_internal_api_secret_key
